.App {
}

img.squareround {
    border-radius: 20%
}

#avatar-menu {
    float: right;
}

#avatar-field {
    width: 500px;
    height: 500px;
    background-color: thistle;
    position: fixed;
}

#avatar-field .icon {
    border-radius: 50%;
    position: absolute;

    user-drag: none;
    user-select: none;
    -moz-user-select: none;
    -webkit-user-drag: none;
    -webkit-user-select: none;
    -ms-user-select: none;
}
